<div class="login-wrapper">
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="logo-wrap">
        <img src="../assets/img/logo.svg">
        <h2>LOGIN</h2>
      </div>
      <div class="form-wrap">
        <div class="form-row">
          <input type="text" class="form-textbox" formControlName="email"
            [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
          <label for="form-email" class="form-label">Email address</label>
        </div>
        <div class="form-row">
          <input type="password" class="form-textbox" formControlName="password"
            [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
          <label for="form-email" class="form-label">Password</label>
        </div>
      </div>

      <button mat-flat-button color="primary">Login</button>
    </form>
  </div>
</div>