<section class="content-wrap">
  <button class=" float-right btn btn-green" (click)="openAdd()">Add New</button>
  <h1>User</h1>
  <section class="table-wrap">
    <table class="table table-striped" *ngIf="allUsers&&allUsers.length>0">
      <thead>
        <tr>
          <th (click)="sort('user_id')">
            <span class="sort-wrap">
              Id
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('user_name')">
            <span class="sort-wrap">
              Name
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('user_phone')">
            <span class="sort-wrap">
              Mobile
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('user_email')">
            <span class="sort-wrap">
              Email
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('UDID')">
            <span class="sort-wrap">
              UUID
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('LoginPin')">
            <span class="sort-wrap">
              Login Pin
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th style="width: 20%;">Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allUsers | orderBy: {property: column, direction: direction}">
          <td>{{item.user_id}}</td>
          <td>{{item.user_name}}</td>
          <td>{{item.user_phone}}</td>
          <td>{{item.user_email}}</td>
          <td>{{item.UDID}}</td>
          <td>{{item.LoginPin}}</td>
          <td class="btn-wrap" style="width: 20%;">
            <button class="btn btn-green" (click)="openEdit(item)">Edit</button>
            <button class="btn btn-default" (click)="openDelete(item)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!allUsers||allUsers.length==0"></app-no-data>
  </section>
</section>

<!-- edit user -->
<app-edit-popup *ngIf="showEdit" [fields]="editFormData" (formCancel)="cancelEdit($event)"
  (formSubmitted)="submitEdit($event)">
</app-edit-popup>

<!-- delete popup -->
<app-delete-popup *ngIf="showDelete" [details]="deleteData" (deleteCancel)="cancelDelete($event)"
  (deleteSubmitted)="submitDelete($event)">
</app-delete-popup>

<!-- add popup -->
<app-add-popup *ngIf="showAdd" [fields]="addFormData" (formCancel)="cancelAdd($event)"
  (formSubmitted)="submitAdd($event)"></app-add-popup>

<!-- <app-add-user ngIf="showAdd" (formCancel)="cancelAdd($event)" (formSubmitted)="submitAdd($event)"></app-add-user> -->