<section class="content-wrap">
  <section class="table-heading">
    <app-add-button (onAdd)="openAdd()"></app-add-button>
    <div class="flex-wrap">
      <h1>User</h1>
    </div>
    <app-search-box></app-search-box>
  </section>

  <section class="table-wrap">
    <table class="table table-main-head">
      <thead>
        <tr>
          <th class="curser-point" (click)="sort('user_id')" style="width: 10%;">Id </th>
          <th class="curser-point" (click)="sort('user_name')" style="width: 15%;">Name </th>
          <th class="curser-point" (click)="sort('user_phone')" style="width: 20%;">Mobile </th>
          <th class="curser-point" (click)="sort('user_email')" style="width: 25%;">Email </th>
          <!-- <th class="curser-point" (click)="sort('UDID')" style="width: 10%;">UUID </th> -->
          <th class="curser-point" (click)="sort('LoginPin')" style="width: 10%;">Login Pin </th>
          <th style="width: 10%;">Operation</th>
        </tr>
      </thead>
    </table>
    <div class="table-scroll-wrap" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <table class="table table-striped table-main-body" *ngIf="allUsers&&allUsers.length>0">
        <tbody>
          <tr *ngFor="let item of allUsers | orderBy: {property: column, direction: direction}">
            <td class="curser-point" (click)="openView(item)" style="width: 10%;">{{item.user_id}}</td>
            <td class="curser-point" (click)="openView(item)" style="width: 15%;">{{item.user_name}}</td>
            <td style="width: 20%;">{{item.user_phone}}</td>
            <td style="width: 25%;">{{item.user_email}}</td>
            <!-- <td style="width: 10%;">{{item.UDID}}</td> -->
            <td style="width: 10%;">{{item.LoginPin}}</td>
            <td style="width: 10%;">
              <app-buttons [data]='item' (onRemove)="openDelete($event)" (onEdit)="openEdit($event)"></app-buttons>
            </td>
          </tr>
        </tbody>
      </table>

      <app-no-data *ngIf="!allUsers||allUsers.length==0"></app-no-data>
    </div>
    <ngb-pagination *ngIf="allUsers&&allUsers.length>0 &&pagination.totalPages&&pagination.totalPages>10"
      [collectionSize]="pagination.totalPages" [(page)]="pagination.currentPage" (pageChange)="pageChanged($event)">
    </ngb-pagination>
  </section>
</section>


<!-- delete popup -->
<app-delete-popup *ngIf="showDelete" [details]="deleteData" (deleteCancel)="cancelDelete($event)"
  (deleteSubmitted)="submitDelete($event)">
</app-delete-popup>


<app-normal-user *ngIf="showDetails" [fields]="detailsData" (formCancel)="cancelView($event)"
  (formSubmitted)="cancelView($event)">

</app-normal-user>
<app-add-normal-user *ngIf="showEdit" [fields]="editFormData" [companyList]="allCompanies"
  (formCancel)="cancelEdit($event)" (formSubmitted)="submitEdit($event)"></app-add-normal-user>

<app-add-normal-user *ngIf="showAdd" [fields]="" [companyList]="allCompanies" (formCancel)="cancelAdd($event)"
  (formSubmitted)="submitAdd($event)">
</app-add-normal-user>