<ng-template #addUserModal let-modal>
  <form (ngSubmit)="onSubmit()" [formGroup]="addUserForm">
    <div class="currency-popup">
      <div class="modal-content modal-content-area modal-md">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">CURRENCY</h4>
          <img class="btn-close" (click)="popupClose()" src="../assets/img/close-icon.svg">
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Currency ID
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="currencyid" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [value]="1" formControlName="currencydefault" disabled>
                  <span></span>
                  Default Currency
                </label>
              </div>
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Description
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="description" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Currency Symbol
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="text" maxlength="3" class="form-control" formControlName="symbol" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Currency Unit
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="text" maxlength="10" class="form-control" formControlName="currencyunit" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Unit-Subunit Connector
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="text" maxlength="10" class="form-control" formControlName="currencyconnect" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Currency Subunit
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="text" maxlength="10" class="form-control" formControlName="currencysubunit" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Rate of Default Currency
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="currencyrate" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
          <div class="form-group-wrap row">
            <div class="col col-sm-4 label astrick">
              Currency Decimals
            </div>
            <div class="col col-sm-5">
              <div class="form-group">
                <input type="number" maxlength="2" class="form-control" formControlName="currencydecimals" disabled>
              </div>
            </div>
            <div class="col col-sm-3">
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" mat-flat-button class="btn btn-default" (click)="popupClose()">Close</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>