<!-- edit popup -->
<ng-template #addUserModal let-modal>
  <form (ngSubmit)="onSubmit()" [formGroup]="addUserForm">
    <div class="currency-popup">
      <!-- <div class="modal-dialog"> -->
      <div class="modal-content modal-content-area modal-lg">
        <div class="add-chain-popup">
          <!-- Modal Header -->
          <div class="modal-header">
            <span class="material-icons"> list </span>

            <h6 class="modal-title" *ngIf="isEdit">USER</h6>
            <!--  -->
            <span class="material-icons btn-close curser-point" (click)="popupClose()"> highlight_off
            </span>
          </div>
          <!-- Modal body -->

          <div class="modal-body">
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                First Name
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="firstname" disabled>

                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Last Name
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="lastname" disabled>

                </div>
              </div>
            </div>

            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                DOB
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="dob" disabled>
                </div>
              </div>
            </div>

            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Gender
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="gender" disabled>

                </div>
              </div>
            </div>

            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Mobile
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="user_phone" disabled>

                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Email
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="user_email" disabled>

                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                User ID
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="user_id" disabled>

                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                User Name
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="username" disabled>

                </div>
              </div>
              <div class="col col-sm-3">
              </div>
            </div>




            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Company
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="companyid" disabled>
                </div>
              </div>
            </div>

            <div class="form-group-wrap chain-logo row">
              <div class="col col-sm-5 label flex-top ">
                Profile image
              </div>
              <div class="col col-sm-5 file-upload-wrap">
                <label class="btn-upload">
                  <img class="image-uploaded" [src]="imgUrl">
                </label>

              </div>
              <div class="col col-sm-3">
              </div>
            </div>
          </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" mat-flat-button class="btn btn-default" data-dismiss="modal"
            (click)="popupClose()">Close</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>