<section class="content-wrap">
  <section class="table-heading">
    <button class=" float-right btn btn-green" (click)="openAdd()">Add Company</button>
    <div class="flex-wrap">
      <h1>Company</h1>
      <div class="form-group search-box search">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search here...">
      </div>
    </div>
  </section>


  <section class="table-wrap">
    <table class="table table-striped" *ngIf="companies&&companies.length>0">
      <thead>
        <tr>
          <th (click)="sort('id')">
            <span class="sort-wrap">
              Id
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('CompanyName')">
            <span class="sort-wrap">
              Name
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span></th>
          <th (click)="sort('Address1')">
            <span class="sort-wrap">
              Address
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span></th>
          <th (click)="sort('MobileNo')">
            <span class="sort-wrap">
              Mobile
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span></th>
          <th (click)="sort('Email')">
            <span class="sort-wrap">
              Email
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span></th>
          <th style="width: 20%;">Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of companies | orderBy: {property: column, direction: direction}|filter:searchText">
          <td>{{item.id}}</td>
          <td>{{item.CompanyName}}</td>
          <td>{{item.Address1}}</td>
          <td>{{item.MobileNo}}</td>
          <td>{{item.Email}}</td>
          <td class="btn-wrap" style="width: 20%;">
            <button class="btn btn-green" (click)="openEdit(item)">Edit</button>
            <button class="btn btn-default" (click)="openDelete(item)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-no-data *ngIf="!companies||companies.length==0"></app-no-data>
  </section>
</section>

<!-- edit Company -->
<app-add-company-popup [currency]="AllCurrency" *ngIf="showEdit" [Edit]="true" [fields]="editFormData"
  (formCancel)="cancelEdit($event)" (formSubmitted)="submitEdit($event)">
</app-add-company-popup>

<!-- delete popup -->
<app-delete-popup *ngIf="showDelete" [details]="deleteData" (deleteCancel)="cancelDelete($event)"
  (deleteSubmitted)="submitDelete($event)">
</app-delete-popup>

<!-- add-popup -->
<app-add-company-popup *ngIf="showAdd" [currency]="AllCurrency" [Edit]="false" [fields]="addFormData"
  (formCancel)="cancelAdd($event)" (formSubmitted)="submitAdd($event)"></app-add-company-popup>