<!-- edit popup -->
<ng-template #contactUsPopup let-modal>
  <div class="currency-popup">
    <!-- <div class="modal-dialog"> -->
    <div class="modal-content modal-content-area modal-lg">
      <div class="add-chain-popup">
        <!-- Modal Header -->
        <div class="modal-header">
          <span class="material-icons">
            list
          </span>
          <h4 class="modal-title">SUBJECT</h4>
          <span class="material-icons btn-close curser-point" (click)="popupClose()"> highlight_off
          </span>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          {{fields.subject}}
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" mat-flat-button class="btn btn-default" data-dismiss="modal"
          (click)="popupClose()">Close</button>
      </div>
    </div>
  </div>
</ng-template>