<ng-template #deleteModal let-modal>
  <div class="modal-header ">
    <span class="material-icons"> list </span>
    <h4 class="modal-title" id="modal-title">{{deleteItem.header}}</h4>
    <span class="material-icons btn-close curser-point" (click)="popupClose()"> highlight_off
    </span>
  </div>
  <div class="modal-body">
    <p><strong>{{deleteItem.message}}</strong></p>
    <!-- <span class="text-danger">This operation can not be undone.</span> -->
  </div>
  <div class="modal-footer">
    <button type="button" mat-flat-button class="btn btn-default" (click)="popupClose()">Cancel</button>
    <button type="button" mat-flat-button color="primary" class="btn" (click)="onSubmit()">Delete</button>
  </div>
</ng-template>