<!-- edit popup -->
<ng-template #addUserModal let-modal>
  <form (ngSubmit)="onSubmit()" [formGroup]="addUserForm">
    <div class="currency-popup">
      <!-- <div class="modal-dialog"> -->
      <div class="modal-content modal-content-area modal-lg">
        <div class="add-chain-popup">
          <!-- Modal Header -->
          <div class="modal-header">
            <span class="material-icons"> list </span>
            <h6 class="modal-title" *ngIf="!isEdit">ADD USER</h6>
            <h6 class="modal-title" *ngIf="isEdit">EDIT USER</h6>
            <!--  -->
            <span class="material-icons btn-close curser-point" (click)="popupClose()"> highlight_off
            </span>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                First Name
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="firstname"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.firstname.errors }">
                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Last Name
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="lastname"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.lastname.errors }">
                </div>
              </div>
            </div>

            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                DOB
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="d2" formControlName="dob" ngbDatepicker
                    #d2="ngbDatepicker" autocomplete="off" (click)="d2.toggle()" [minDate]="minDate" [maxDate]="maxDate"
                    [startDate]="startDate" (keypress)="$event.preventDefault()"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.dob.errors }">

                </div>
              </div>
            </div>

            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Gender
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <ng-select [items]="genderList" [multiple]="false" appendTo="body" formControlName="gender"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.gender.errors }">
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Mobile
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" numbersOnly maxlength="10" class="form-control" formControlName="user_phone"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.user_phone.errors }">
                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Email
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="user_email"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.user_email.errors }">
                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                User ID
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" numbersOnly maxlength="6" class="form-control" formControlName="user_id"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.user_id.errors }">
                </div>
              </div>
            </div>
            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                User Name
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="username"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
                </div>
              </div>
              <div class="col col-sm-3">
              </div>
            </div>


            <div class="form-group-wrap row">
              <div class="col col-sm-5 label " [ngClass]="{'astrick':!isEdit}">
                Password
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="password"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                </div>
              </div>
            </div>


            <div class="form-group-wrap row">
              <div class="col col-sm-5 label astrick">
                Company
              </div>
              <div class="col col-sm-5">
                <div class="form-group">
                  <ng-select [items]="companyList" [multiple]="true" bindLabel="CompanyName" bindValue="CompanyID"
                    appendTo="body" formControlName="companyid"
                    [ngClass]="{ 'has-error': isSubmitted && formControls.companyid.errors }">
                  </ng-select>
                </div>
              </div>
            </div>



            <div class="form-group-wrap chain-logo row">
              <div class="col col-sm-5 label flex-top" [ngClass]="{'astrick':isEdit ===false}">
                Profile image
              </div>
              <div class="col col-sm-5 file-upload-wrap">
                <label class="btn-upload">
                  <input type="file" name="fileupload" (change)="fileProgress($event)" accept="image/*">
                  <img class="image-uploaded" [src]="imgUrl">
                </label>
                <p class="file-name" *ngIf="imageName">{{imageName}}</p>
              </div>
              <div class="col col-sm-3">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" mat-flat-button class="btn btn-default" data-dismiss="modal"
            (click)="popupClose()">Close</button>
          <button type="button" mat-flat-button color="primary" class="btn" data-dismiss="modal"
            (click)="onSubmit()">Save</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>