<section class="content-wrap">
  <section class="table-heading">
    <button class=" float-right btn btn-green" (click)="openAdd()">Add New</button>
    <div class="flex-wrap">
      <h1>Currency</h1>
      <div class="form-group search-box search">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search here...">
      </div>
    </div>
  </section>

  <section class="table-wrap">
    <table class="table table-main-head">
      <thead>
        <tr>
          <th style="width: 10%;" (click)="sort('id')">
            <span class="sort-wrap">
              Id
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th style="width: 20%;" (click)="sort('CurrencyName')">
            <span class="sort-wrap">
              Name
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th style="width: 10%;" (click)="sort('CurrencySymbol')">
            <span class="sort-wrap">
              Symbol
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th style="width: 20%;" (click)="sort('CurrencyUnit')">
            <span class="sort-wrap">
              Unit
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th style="width: 10%">
            <span class="sort-wrap">
              View
            </span>
          </th>
          <th>Operation</th>
        </tr>
      </thead>
    </table>
    <div class="table-scroll-wrap">
      <table class="table table-striped table-main-body" *ngIf="addedCurrency&&addedCurrency.length>0">
        <tbody>
          <tr *ngFor="let item of addedCurrency  | orderBy: {property: column, direction: direction}|filter:searchText">
            <td style="width: 10%;">{{item.id}}</td>
            <td style="width: 20%;">{{item.CurrencyName}}</td>
            <td style="width: 10%;">{{item.CurrencySymbol}}</td>
            <td style="width: 20%;">{{item.CurrencyUnit}}</td>
            <td style="width: 10%;" (click)="openView(item)"><img src="../assets/img/view-icon.png"></td>
            <td class="btn-wrap">
              <button class="btn btn-green" (click)="openEdit(item)">Edit</button>
              <button class="btn btn-default" (click)="openDelete(item)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-no-data *ngIf="!addedCurrency||addedCurrency.length==0"></app-no-data>
    </div>
  </section>
</section>





<!-- delete popup -->
<app-delete-popup *ngIf="showDelete" [details]="deleteData" (deleteCancel)="cancelDelete($event)"
  (deleteSubmitted)="submitDelete($event)">
</app-delete-popup>

<app-add-currency-popup *ngIf="showEdit" [fields]="editFormData" (formCancel)="cancelEdit($event)"
  (formSubmitted)="submitEdit($event)">
</app-add-currency-popup>

<app-add-currency-popup *ngIf="showAdd" [fields]="addFormData" (formCancel)="cancelAdd($event)"
  (formSubmitted)="submitAdd($event)">
</app-add-currency-popup>

<app-currency-details *ngIf="showDetaisl" [fields]="detailsData" (formCancel)="cancelView($event)"
  (formSubmitted)="cancelView($event)">
</app-currency-details>