<ng-template #addUserModal let-modal>
    <form (ngSubmit)="onSubmit()" [formGroup]="addUserForm">
        <div class="currency-popup">
            <!-- <div class="modal-dialog"> -->
            <div class="modal-content edit-user modal-content-area modal-lg">
                <div class="add-user-popup">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <span class="material-icons"> list </span>
                        <h4 class="modal-title" *ngIf="isEdit">Edit User</h4>
                        <h4 class="modal-title" *ngIf="!isEdit">Add User</h4>
                        <span class="material-icons btn-close curser-point" (click)="popupClose()"> highlight_off
                        </span>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group-wrap row">
                            <div class="col col-sm-4 label astrick">
                                User ID
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <input type="text" numbersOnly class="form-control" placeholder=" User ID"
                                        maxlength="6" formControlName="userid"
                                        [ngClass]="{ 'has-error': isSubmitted && formControls.userid.errors }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-wrap row">
                            <div class="col col-sm-4 label astrick">
                                User Name
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" User Name"
                                        formControlName="username"
                                        [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-wrap row">
                            <div class="col col-sm-4 label astrick">
                                Email
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address"
                                        formControlName="email"
                                        [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-wrap row">
                            <div class="col col-sm-4 label astrick">
                                Password
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Password"
                                        formControlName="password"
                                        [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-wrap row" *ngIf="!isEdit">
                            <div class="col col-sm-4 label astrick">
                                Confirm Password
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Confirm Password"
                                        formControlName="confirmpassword"
                                        [ngClass]="{ 'has-error': isSubmitted && formControls.confirmpassword.errors }">
                                </div>
                            </div>
                        </div>
                        <!-- status -->
                        <div class="form-group-wrap row">
                            <div class="col col-sm-4 label astrick">
                                Status
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <ng-select [items]="statusList" bindLabel="name" bindValue="val" appendTo="body"
                                        formControlName="status">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrap row">
                            <div class="col col-sm-4 label astrick">
                                Company Access
                            </div>
                            <div class="col col-sm-5">
                                <div class="form-group">
                                    <ng-select [items]="companyList" [multiple]="true" bindLabel="CompanyName"
                                        bindValue="CompanyID" appendTo="body" formControlName="companyid">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" mat-flat-button color="primary" class="btn" (click)="onSubmit()">Ok</button>
                    <button type="button" mat-flat-button class="btn btn-default" (click)="popupClose()">Cancel</button>
                </div>
                <!-- </div> -->
            </div>
            <!-- </div> -->
        </div>
    </form>

</ng-template>