<section class="content-wrap">
  <section class="table-heading">
    <div class="flex-wrap">
      <h1>Company Access</h1>
    </div>
    <app-search-box></app-search-box>
  </section>
  <section class="table-wrap">
    <table class="table table-main-head">
      <thead>
        <tr>
          <th class="curser-point" (click)="sort('UserID')" style="width: 20%;"> Id </th>
          <th class="curser-point" (click)="sort('user_name')" style="width: 20%;"> Users </th>
          <th class="curser-point" (click)="sort('CompanyID')" style="width: 20%;"> Company Id </th>
          <th class="curser-point" (click)="sort('CompanyName')" style="width: 20%;"> Company Name </th>
          <th style="width: 20%;">Operation</th>
        </tr>
      </thead>
    </table>
    <div class="table-scroll-wrap" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
      <table class="table table-striped table-main-body" *ngIf="companyAccess&&companyAccess.length>0">
        <tbody>
          <tr *ngFor="let item of companyAccess| orderBy: {property: column, direction: direction};index as i">
            <td class="curser-point" (click)="openView(item)" style="width: 20%;">{{item.UserID}}</td>
            <td class="curser-point" (click)="openView(item)" style="width: 20%;">{{item.user_name}}</td>
            <td style="width: 20%;">{{item.CompanyID}}</td>
            <td style="width: 20%;">{{item.CompanyName}}</td>
            <td class="btn-wrap">
              <app-buttons [data]='item' (onRemove)="openDelete($event)" (onEdit)="openEdit($event)"></app-buttons>
            </td>
          </tr>
        </tbody>
      </table>
      <app-no-data *ngIf="!companyAccess||companyAccess.length==0"></app-no-data>
    </div>
    <ngb-pagination *ngIf="companyAccess&&companyAccess.length>0 &&pagination.totalPages &&pagination.totalPages>10"
      [collectionSize]="pagination.totalPages" [(page)]="pagination.currentPage" (pageChange)="pageChanged($event)">
    </ngb-pagination>
  </section>
</section>


<!-- edit popup -->
<app-edit-popup *ngIf="showEdit" [fields]="editFormData" (formCancel)="cancelEdit($event)"
  (formSubmitted)="submitEdit($event)">
</app-edit-popup>


<!-- delete popup -->
<app-delete-popup *ngIf="showDelete" [details]="deleteData" (deleteCancel)="cancelDelete($event)"
  (deleteSubmitted)="submitDelete($event)">
</app-delete-popup>

<!-- add popup -->
<app-add-popup *ngIf="showAdd" [fields]="addFormData" (formCancel)="cancelAdd($event)"
  (formSubmitted)="submitAdd($event)"></app-add-popup>

<app-details-popup *ngIf="showDetails" [fields]="detailsData" (formCancel)="cancelView($event)"
  (formSubmitted)="cancelView($event)">
</app-details-popup>