<!--component html goes here -->
<section class="content-wrap">
  <section class="table-heading">
    <button class="float-right btn" mat-flat-button color="primary" (click)="openAdd()">Add New</button>
    <div class="flex-wrap">
      <h1>User</h1>
      <div class="form-group search-box search">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search here...">
      </div>
    </div>
  </section>

  <section class="table-wrap">
    <table class="table table-main-head">
      <thead>
        <tr>
          <th (click)="sort('id')" style="width: 10%;">
            <span class="sort-wrap">
              Id
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('user_name')" style="width: 20%;">
            <span class="sort-wrap">
              Name
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>

          <th (click)="sort('companyid')" style="width: 10%;">
            <span class="sort-wrap">
              Company
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('email')" style="width: 20%;">
            <span class="sort-wrap">
              Email
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('password')" style="width: 10%;">
            <span class="sort-wrap">
              Password
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th (click)="sort('status')" style="width: 10%;">
            <span class="sort-wrap">
              Status
              <span class="sort-icons">
                <i class="sort-up"></i>
                <i class="sort-down"></i>
              </span>
            </span>
          </th>
          <th style="width: 20%;">Operation</th>
        </tr>
      </thead>
    </table>
    <div class="table-scroll-wrap">
      <table class="table table-striped table-main-body" *ngIf="allUsers&&allUsers.length>0">
        <tbody>
          <tr *ngFor="let item of allUsers| orderBy: {property: column, direction: direction}|filter:searchText">
            <td style="width: 10%;">{{item.id}}</td>
            <td style="width: 20%;">{{item.user_name}}</td>
            <td style="width: 10%;">{{item.companyid}}</td>
            <td style="width: 20%;">{{item.email}}</td>
            <td style="width: 10%;"> {{item.password_ref}} </td>
            <td style="width: 10%;">{{item.status==0?'Suspended':'Active'}}</td>
            <td class="btn-wrap">
              <button mat-flat-button color="primary" class="btn" (click)="openEdit(item)">Edit</button>
              <button mat-flat-button class="btn btn-default" (click)="openDelete(item)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-no-data *ngIf="!allUsers||allUsers.length==0"></app-no-data>
    </div>
  </section>
</section>

<!-- edit popup -->
<app-add-user *ngIf="showEdit" [Edit]="true" [fields]="editFormData" [companyList]="allCompanies"
  (formCancel)="cancelEdit($event)" (formSubmitted)="submitEdit($event)"></app-add-user>

<!-- delete popup -->
<app-delete-popup *ngIf="showDelete" [details]="deleteData" (deleteCancel)="cancelDelete($event)"
  (deleteSubmitted)="submitDelete($event)">
</app-delete-popup>

<app-add-user *ngIf="showAdd" [Edit]="false" [fields]="addFormData" [companyList]="allCompanies"
  (formCancel)="cancelAdd($event)" (formSubmitted)="submitAdd($event)"></app-add-user>